// **************************************
// index.scss
// Main Sass file used to import partials
// **************************************


//use base partials here:
@use 'base';

// use layout partials here:
@use 'layout';

// use component partials here: 
@use 'components';


