// **************************************
// THEME COLOR MAP
// **************************************
$colors: (
  // Primary Colors
  primary: (
    100: hsl(150, 100%, 80%),
    200: hsl(150, 100%, 70%),
    300: hsl(150, 100%, 50%),
    400: hsl(150, 100%, 33%),
    500: hsl(150, 100%, 18%),
  ),
  // Secondary colors
  secondary: (
    100: hsl(20, 100%, 80%),
    200: hsl(20, 100%, 70%),
    300: hsl(20, 100%, 50%),
    400: hsl(20, 100%, 33%),
    500: hsl(20, 100%, 18%),
  ),
  // Accent Colors
  accent: (
    100: hsl(300, 100%, 80%),
    200: hsl(300, 100%, 70%),
    300: hsl(300, 100%, 50%),
    400: hsl(300, 100%, 33%),
    500: hsl(300, 100%, 18%),
  ),
  // Background Colors
  background: (
    100: hsl(200, 100%, 80%),
    200: hsl(200, 100%, 70%),
    300: hsl(200, 100%, 50%),
    400: hsl(200, 100%, 33%),
    500: hsl(200, 100%, 18%),
  ),
  // Header Colors
  header: (
    100: hsl(23, 100%, 95%),
    200: hsl(23, 100%, 60%),
    300: hsl(23, 100%, 13%),
    400: hsl(23, 100%, 8%),
    500: hsl(23, 100%, 3%),
  ),
  // Footer Colors
  footer: (
    100: hsl(260, 100%, 80%),
    200: hsl(260, 100%, 70%),
    300: hsl(260, 100%, 50%),
    400: hsl(260, 100%, 33%),
    500: hsl(260, 100%, 18%),
  ),
  //Link colors
  links: (
    link: hsl(60, 100%, 80%),
    visited: hsl(60, 100%, 70%),
    focus: hsl(60, 100%, 50%),
    hover: hsl(60, 100%, 33%),
    active: hsl(60, 100%, 18%),
  ),
  // Border Colors
  border: (
    100: hsl(225, 100%, 80%),
    200: hsl(225, 100%, 70%),
    300: hsl(225, 100%, 50%),
    400: hsl(225, 100%, 33%),
    500: hsl(225, 100%, 18%),
  ),
  // Button Colors
  btns: (
    default: hsl(225, 100%, 50%),
    success: hsl(150, 100%, 33%),
    error: hsl(350, 100%, 50%),
    warning: hsl(20, 100%, 50%),
    info: hsl(260, 100%, 50%),
  ),
  // Neutral Text Colors
  text: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 80%),
    300: hsl(0, 0%, 60%),
    400: hsl(0, 0%, 20%),
    500: hsl(0, 0%, 0%),
  ),
);
