// **************************************
// FONT MAPS
// **************************************
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$font-love: (
  f-size: (
    200: 0.8rem,
    300: 1rem,
    400: 1.125rem,
    500: 1.56rem,
    600: 1.927rem,
    700: 2.483rem,
    800: 3.016rem,
  ),
  f-weight: (
    normal: 400,
    bold: 700,
  ),
  f-family: (
    main: "Kumbh Sans" sans-serif,
  ),
  l-weight: (
    sm-space: 1.3,
    normal-space: 1.5,
    lg-space: 1.7,
  ),
);
