// **************************************
// FONT MAPS
// **************************************
$font-love: (
  f-size: (
    200: 0.8rem,
    300: 1rem,
    400: 1.125rem,
    500: 1.56rem,
    600: 1.927rem,
    700: 2.483rem,
    800: 3.016rem,
  ),
  f-weight: (
    light: 100,
    normal: 400,
    semi-bold: 600,
    bold: 700,
    bolder: 900,
  ),
  f-family: (
    headings: "Lato" sans-serif,
    content: "Raleway" sans-serif,
  ),
  l-weight: (
    sm-space: 1.3,
    normal-space: 1.5,
    lg-space: 1.7,
  ),
);
