// **************************************
// Placeholders
// **************************************

// Global Body Tag Styles
%body-properties {
  font-family: sans-serif;
  line-height: 1;
  min-height: 100vh;
}

// Center Grid Content (For Component projects)
%ctr-grid-content {
  display: grid;
  place-items: center;
}

// Global Heading & Paragraph Styles
%text-modules {
  letter-spacing: 1px;
  word-spacing: 0.5px;
}

// Global Image Style
%img-properties {
  display: block;
  max-width: 100%;
  height: auto;
}

// Global Button Styles
%btn-properties {
  outline: none;
  border: none;
  border-radius: 25px;
  letter-spacing: 1.1px;
  font-weight: 500;
}

// Global Link Styles
%link-properties {
  display: inline-block;
  text-decoration: none;
}

// Footer Styles
%footer-properties {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  bottom: -15%;
}

/******************************************
REUSEABLE SINGLE STYLES
******************************************/

// ul Style
%ul-list-stle {
  list-style-type: none;
}

// center text style
%ctr-txt {
  text-align: center;
}
