// **************************************
// BASE STYLES
// **************************************

@use "../utilities" as *;

/*-----BASE GLOBAL STYLES------*/
* {
  box-sizing: border-box;
}

html {
  font-size: px-to-rems(16px);
}

html,
body,
#root {
  @extend %body-properties;
}

body {
  background-repeat: no-repeat;
  background-image: linear-gradient(
    var(--clr-bg-gradient-2-300) 70%,
    var(--clr-bg-gradient-1-300)
  );
  @include mq("md") {
    background-image: linear-gradient(
      var(--clr-bg-gradient-2-300) 20%,
      var(--clr-bg-gradient-1-300)
    );
  }
}

main {
  --clr-box-shadow: hsl(270, 100%, 25%);
  background-color: var(--clr-light-normal);
  position: relative;
  border-radius: var(--moderate-curve);
  box-shadow: 0px 10px 15px 1px var(--clr-box-shadow);
}

section {
  margin-top: px-to-rems(-120px);
  @include mq("md") {
    margin-top: px-to-rems(20px);
    margin-left: px-to-rems(30px);
    margin-bottom: px-to-rems(20px);
    width: 80%;
  }
}

p {
  @extend %text-modules;
}

a {
  @extend %link-properties;
}

footer {
  @extend %footer-properties;
}
