// **************************************
// BASE STYLES
// **************************************

@use "../utilities" as *;

/*-----BASE GLOBAL STYLES------*/
* {
  box-sizing: border-box;
}

html {
  font-size: px-to-rems(16px);
}

html,
body,
#root {
  @extend %body-properties;
}

body {
  background-repeat: no-repeat;
  background-image: linear-gradient(
    var(--clr-bg-gradient-2-300) 70%,
    var(--clr-bg-gradient-1-300)
  );
  @include mq("md") {
    background-image: linear-gradient(
      var(--clr-bg-gradient-2-300) 50%,
      var(--clr-bg-gradient-1-300)
    );
  }
}

main {
  background-color: var(--clr-light-normal);
  position: relative;
  border-radius: var(--moderate-curve);
  height: 100%;
}

section {
  margin-top: px-to-rems(-120px);
  @include mq("md") {
    margin-top: px-to-rems(0px);
    width: 80%;
    align-self: center;
  }
}

p {
  @extend %text-modules;
}

a {
  @extend %link-properties;
}
