// **************************************
// TYPOGRAPHY STYLES
// **************************************
@use "../utilities" as *;

/*-----HEADINGS------*/

:is(h1, h2, h3, h4, h5, h6, p, span) {
  font-family: var(--fp-family-main);
}

:is(.title__accordian, .content) {
  text-align: left;
}

//h1 styles
.title__primary {
  @extend %text-modules;
  @include text-prop(
    $size: clamp(1.4rem, 6vw, 1.5rem),
    $f-weight: var(--fp-f-weight-bold)
  );
  margin-bottom: px-to-rems(15px);
  text-align: center;
  @include mq("md") {
    text-align: left;
  }
}

// summary title styles
.title__accordian {
  @extend %text-modules;
  @include text-prop(
    $size: clamp(0.5rem, 3vw, 0.7rem),
    $f-weight: var(--fp-f-weight-normal),
    $color: var(--clr-text-normal)
  );
}

/*----CONTENT STYLES----*/

// p styles
.content {
  @include text-prop(
    $size: clamp(0.3rem, 3vw, 0.7rem),
    $f-weight: var(--fp-f-weight-light),
    $color: var(--clr-text-normal),
    $l-height: 1.5
  );
  padding-top: px-to-rems(5px);
  padding-right: px-to-rems(15px);

  &__attribution {
    @include text-prop(
      $size: clamp(0.35rem, 2.5vw, 0.75rem),
      $f-weight: var(--fp-f-weight-light),
      $color: var(--clr-light-normal),
      $l-height: 1.5
    );
    > a {
      color: var(--clr-secondary-text);
      font-weight: var(--fp-f-weight-bold);
    }
  }
}
