// **************************************
// ACCORDIAN STYLES
// **************************************

details > summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: " ►";
}
details[open] summary:after {
  content: " ▼";
}
