// **************************************
// ACCORDIAN STYLES
// **************************************
details {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--clr-divider-300);
}

summary::after {
  content: "⌄";
  font-size: 1rem;
  color: var(--clr-secondary-text);
  font-weight: var(--fp-f-weight-bold);
}

details[open] summary:after {
  content: "^";
  position: relative;
  top: 7px;
}

details[open] summary.title__accordian {
  color: var(--clr-primary-text);
  font-weight: var(--fp-f-weight-bold);
  cursor: pointer;
}

details[open] summary ~ * {
  animation: smoothopen 0.5s ease-in-out;
}

@keyframes smoothopen {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
