// **************************************
// CARD STYLES
// **************************************

.card {
  background-color: grey;
  &__header {
    position: relative;
  }

  &__figure {
    padding: 2rem;
  }

  &__body {
    .card__title {
      text-align: left;
    }

    .card__subtitle {
      text-align: left;
    }

    .card__copy {
      text-align: left;
    }
  }

  &__footer {
    .card__actions {
      text-align: left;
    }
  }
}
