// **************************************
// IMAGE STYLES
// **************************************
@use "../utilities" as *;

.img {
  @extend %img-properties;

  &__card-header {
    @extend %img-properties;
  }

  &__logo {
    @extend %img-properties;
    max-width: px-to-rems(90px);
  }

  &__hero-header {
    @extend %img-properties;
  }

  &__person {
    @include roundy($dim: 125px, $border: 1px solid var(--clr-primary-200));
  }

  &__nav-icons {
    fill: var(--clr-accent-400);
    width: 20px;
    height: 20px;
    margin-right: px-to-rems(5px);
  }

  &__social-icons {
    width: 80px;
    height: 80px;
    padding: px-to-rems(16px);
  }
}
