// **************************************
// IMAGE STYLES
// **************************************
@use "../utilities" as *;

.img {
  @extend %img-properties;

  &__card-header {
    display: block;
  }

  &__logo {
    text-align: left;
  }

  &__hero-header {
    display: block;
  }

  &__person {
    @include roundy($dim: 125px, $border: 1px solid $color-border-dark);
  }

  &__nav-icons {
    fill: $color-complement;
    width: 20px;
    height: 20px;
    margin-right: px-to-rems(5px);
  }

  &__social-icons {
    width: 80px;
    height: 80px;
    padding: px-to-rems(16px);
  }
}
