// **************************************
// IMAGE STYLES
// **************************************
@use "../utilities" as *;

.img {
  @extend %img-properties;

  &__container {
    @include mq("md") {
      position: relative;
      z-index: 0;
    }
  }

  &__logo {
    @extend %img-properties;
    width: px-to-rems(120px);
    height: px-to-rems(120px);
    transform: translateY(-150px);
    margin: 0 auto;
    @include mq("md") {
      display: none;
    }
  }

  &__shadow {
    @extend %img-properties;
    transform: translateY(-245px);
    @include mq("md") {
      display: none;
    }
  }
  &__logo-desktop {
    @extend %img-properties;
    display: none;
    @include mq("md") {
      display: block;
      max-width: 500px;
      margin-right: px-to-rems(40px);
      z-index: 20;
    }
  }

  &__shadow-desktop {
    @extend %img-properties;
    display: none;
    @include mq("md") {
      display: block;
      max-width: 770px;
      position: absolute;
      top: -74%;
      left: -55%;
      z-index: 50;
    }
  }
  &__box-desktop {
    @extend %img-properties;
    display: none;
    @include mq("md") {
      display: block;
      position: absolute;
      max-width: 170px;
      top: 41%;
      z-index: 99;
      left: -9%;
    }
  }
}
