// **************************************
// TABS STYLES
// **************************************
@use "../utilities" as *;

.tabs {
  &__list {
    list-style: none;
  }
  &__item {
    text-align: left;
  }
  &__link {
    @extend %link-properties;
  }

  &__section {
    text-align: left;
  }

  &__body {
    text-align: left;
  }
}
