// **************************************
// FORM STYLES
// **************************************
@use "../utilities" as *;

.form {
  &__container {
    display: block;
  }
  &__input {
    padding: px-to-rems(5px);
  }

  &__label {
    text-align: left;
  }

  &__list {
    text-align: left;
  }

  &__checkbox {
    text-align: left;
  }

  &__radio {
    display: block;
  }

  &__textarea {
    display: block;
  }

  &__btn,
  &__submit {
    display: block;
  }
}

fieldset {
  border: none;
  outline: none;
}

legend {
  font-weight: bold;
}
