// **************************************
// GRID STYLES
// **************************************
@use "../utilities" as *;

/*------GRID LAYOUT STYLES-----------*/
#root {
  @extend %ctr-grid-content;
  padding: 5rem 0.5rem 3rem;
  @include mq("md") {
    max-width: --max-width;
  }
}

/*------GRID LAYOUT STYLES-----------*/

//Main Content Grid Layout
.main__grid--wrapper {
  display: grid;
  place-items: center;
  margin: auto;
  padding: px-to-rems(10px);
  @include mq("md") {
    overflow: hidden;
    width: 1000px;
    max-width: 1000px;
    height: 100%;
    grid-template-areas: "img__container accordian";
    grid-template-columns: 40% 60%;
  }
}

// Grid areas
.img__container {
  @include mq("md") {
    grid-area: img__container;
  }
}
.accordian {
  @include mq("md") {
    grid-area: accordian;
  }
}
