// **************************************
// GRID STYLES
// **************************************
@use "../utilities" as *;

/*------GRID LAYOUT STYLES-----------*/
#root {
  @extend %ctr-grid-content;
  width: min(100% - 1.5rem, 950px);
  padding: 5rem 1rem 3rem;
  margin-inline: auto;
}

/*------GRID LAYOUT STYLES-----------*/

//Main Content Grid Layout
.main__grid--wrapper {
  @extend %ctr-grid-content;
  padding: px-to-rems(10px);
  @include mq("md") {
    overflow: hidden;
    grid-template-areas: "img__container accordian";
    grid-template-columns: 40% 60%;
    padding: px-to-rems(0px);
  }
}

// Grid areas
.img__container {
  @include mq("md") {
    grid-area: img__container;
  }
}
.accordian {
  @include mq("md") {
    grid-area: accordian;
  }
}
