// **************************************
// HEADER STYLES
// **************************************
@use "../utilities" as *;

.header {
  position: relative;

  &__overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  &__body {
    text-align: left;
  }
}
